// @import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('http://brand.remitly.internal/styles/main.css');


.content-card{
  padding: 48px;
}
// @import '_locallessfilenamewithoutextension';

// Vars
@white: #ffffff;
@lightgray: #fafcfc;
@blue1: #226ba4;
@blue2: #3E7EB8;
@blue3: #00A7CF;
@green: #39B885;
@midnight: #1F284A;
@red: #ff5c52;


@icon: @blue3;
@unit: 16px;


.btn--success,{
  background-color: @green;
}

.btn--info{
  background-color: @blue3;
  &.btn--blank{
    color: @blue3;
  }
}
.form-group--info input{
  border-color: @blue3;
}

.form-group--danger input{
  border-color: @red;
}
.form-group--danger .help-block{
  color: @red;
}

body{
  font-family: "Proxima Nova", Helvetica, Sans-Serif;
}

.headBar{
  background-color: @white;
  width: 100%;
  height: 60px;
}
.topBar {
  background-color: @blue1;
  padding: @unit;

  font-weight: 600;
  font-size: 18px;
  line-height: 46px;
  text-align: left;
    
    .field{
      flex: 2;
      height: @unit * 3;
      border-radius: 3px;
      background-color: @white;
      float: left;
      margin-right: @unit;
      padding: 0 @unit;
      box-sizing: border-box;
    }

    .button{
      flex: 1;
      height: @unit * 3;
      border-radius: 3px;
      background-color: @green;
      float: left;
      box-sizing: border-box;
      text-align: center;
      color: @white;
    }
}
.heroBar {
  background-color: @blue2;
  padding: @unit*3;
}

///////////////////////////////////

.tripleBar{
  text-align: center;
  padding: @unit*4 0;
  background-color: @white;

  &--dark{
    background-color: @midnight;
    color: @white;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
  }

  .icon{
    border: 4px solid @icon;
    width: @unit*2.5;
    height: @unit*2.5;
    border-radius: 50%;
    margin: 0 auto @unit;
  }
}

.narwhal{
  background-color: @lightgray;
  padding: @unit*3 0;

  .content{
    background-color: @white;
  }
}

/////////////

.bg--midnight {
  background-color: @midnight;
}

.bg--blue1 {
  background-color: @blue1;
}

.bg--blue2 {
  background-color: @blue2;
}

.bg--blue3 {
  background-color: @blue3;
}

.bg--green {
  background-color: @green;
}
.btn--dark {
  background-color: @midnight;
  color: @white;
}






































