@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('http://brand.remitly.internal/styles/main.css');

// @import '_locallessfilenamewithoutextension';

.fixed-bar{
  background-color: #ddd;
  padding: 16px;

  .signup-input, .h5{
    padding:0 4px;
  }

  .signup-submit{
    padding:0 4px; 
  }
}