doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    link(rel="stylesheet/less" type="text/css" href="styles/main.less")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      var less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ":/a.com/"
      };

      $(document).ready(function(){
        // less.modifyVars({ blue1 : 'red' })
        var targets = [
          {'name': 'blue1', 'color' : '#226ba4'},
          {'name': 'blue2', 'color' : '#3E7EB8'},
          {'name': 'blue3', 'color' : '#00A7CF'},
          {'name': 'green', 'color' : '#39B885'},
          {'name': 'midnight', 'color' : '#1F284A'},
          {'name': 'red', 'color' : '#ff5c52'}
        ];

        $.each(targets, function(i, v){
          var name = v.name;
          var color = v.color;

          d = $('<div class="picker" data-target="' + name + '"></div>');
          d.append('<label for=" ' + name +' "> ' + name + '</label><br>');
          d.append('<input id="color" type="color" value="' + color + '"/>');
          d.append('<input id="text" type="text" name=" '+ name +'" value="' + color + '"/>');
          d.append('<hr>');

          d.change(function(event){
            color = $(event.target).val();
            parent = $(event.target).parent();
            target = parent.attr('data-target');
            parent.find('#text').val(color);
            console.log(target, color);
            //- var lessK = String(target);
            //- var lessV = String(color);
            var data = {};
            
            $.each(targets, function(r, j){
              //- for each color
              //- find hte div with that as a data attribute
              var n = j.name;
              var c = $('.picker[data-target="' + n + '"] #color').val();
              console.log(c);
              //- find the color inside of that
              data[n] = c;
            });
            console.log(data);
            less.modifyVars(data);
          });
          $('.controls .content-card').append(d);
        });
      });
  body
    .row
      .col-sm-3.controls.bg-color-gray-1.pad-md
        .content-card
          h4.h4
            strong Color Controls

      .col-sm-5
        .row.headBar &nbsp;
        .row.topBar &nbsp;
          .field Email
          .field Password
          .button Sign Up
        .row.heroBar
          .col-sm-6.text-color-white.text-center
            .h2
              strong Great rates!
            .h4 Refacil, Rerapido, Reseguro!
            img(src="img/plane.png" width="100%")
          .col-sm-6
            .content-card
              h4.h4
                strong Pretend this is the calculator.
              .form-group
                label Label
                input.form-control.form-control--dark(placeholder="input")

              .form-group
                label Label
                input.form-control.form-control--dark(placeholder="input")

              hr

              .btn.btn--success.btn--block Get started

        .row.tripleBar.tripleBar--dark
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
        .row.tripleBar
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
          .col-sm-4
            .icon
            .title Title
            p This is text about how great remitly is!
        .row
          .col-sm-4.bg--midnight.pad-sm
            .btn.btn--block.btn--success Button
          .col-sm-4.bg--blue1.pad-sm
            .btn.btn--block.btn--success Button
          .col-sm-4.bg--blue2.pad-sm
            .btn.btn--block.btn--success Button
        .row
          .col-sm-4.bg--midnight.pad-sm
            .btn.btn--block.btn--info Button
          .col-sm-4.bg--blue1.pad-sm
            .btn.btn--block.btn--info Button
          .col-sm-4.bg--blue2.pad-sm
            .btn.btn--block.btn--info Button
        .row
          .col-sm-4.bg--midnight.pad-sm
            .btn.btn--block.btn--dark Button
          .col-sm-4.bg--blue1.pad-sm
            .btn.btn--block.btn--dark Button
          .col-sm-4.bg--blue2.pad-sm
            .btn.btn--block.btn--dark Button
      .col-sm-4
        .row.headBar &nbsp;
        .narwhal.row
          .col-sm-4.ml-sm-auto
            p x
          .col-sm-6.content-card.mr-sm-auto
            h4.h4
              strong Page Title

            .form-group
              label Label
              input.form-control.form-control--dark(placeholder="input")

            .form-group.form-group--info
              label Label
              input.form-control.form-control--dark(placeholder="input")

            .form-group.form-group--danger
              label Label
              input.form-control.form-control--dark(placeholder="input")
              span.help-block Nice one, Einstein!

            hr

            .btn.btn--info.btn--blank Back
            .btn.btn--info.pull-right Continue

            hr

            .btn.btn--success.btn--block Send Money

    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js")