doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    link(rel="stylesheet" href="styles/main.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      $(document).ready(function(){
        // do a bunch of 2009 things here
      });
  body
    .fixed-bar
      .row
        .col-md-10
          h5.h5
            strong Sign up
      form.row
        .col-md-10
          .col-md-4.signup-input
            input.form-control(placeholder="something")
          .col-md-4.signup-input
            input.form-control(placeholder="something")
          .col-md-4.signup-input
            input.form-control(placeholder="something")
        .col-md-2.signup-submit
          p.btn.btn--block.btn--success Sign Up
