doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    link(rel="stylesheet" href="styles/main.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      $(document).ready(function(){
        // do a bunch of 2009 things here
      });
  body
